<div style="padding: 37px" class="custom-dialog-background">
  <h2 mat-dialog-title>Edit User</h2>
  <div mat-dialog-content>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="data.first_name" name="first_name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="data.last_name" name="last_name" />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput [(ngModel)]="data.email" name="email" />
      </mat-form-field>
    </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" (click)="save()">Save</button>
  </div>
</div>
