<div class="dialog-container">
  <div class="custom-dialog-background">
    <h2 class="dialog-title">Edit User</h2>
    <form [formGroup]="editForm">
      <!-- First Name -->
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input id="first_name" formControlName="first_name" />
        <div
          *ngIf="
            editForm.get('first_name')?.invalid &&
            editForm.get('first_name')?.touched
          "
          class="error-message"
        >
          <span *ngIf="editForm.get('first_name')?.hasError('required')">
            First Name is required.
          </span>
        </div>
      </div>

      <!-- Last Name -->
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input id="last_name" formControlName="last_name" />
        <div
          *ngIf="
            editForm.get('last_name')?.invalid &&
            editForm.get('last_name')?.touched
          "
          class="error-message"
        >
          <span *ngIf="editForm.get('last_name')?.hasError('required')">
            Last Name is required.
          </span>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" />
        <div
          *ngIf="
            editForm.get('email')?.invalid && editForm.get('email')?.touched
          "
          class="error-message"
        >
          <span *ngIf="editForm.get('email')?.hasError('required')">
            Email is required.
          </span>
          <span *ngIf="editForm.get('email')?.hasError('email')">
            Please enter a valid email address.
          </span>
        </div>
      </div>
    </form>

    <!-- Dialog Actions -->
    <div class="dialog-actions">
      <button class="cancel" (click)="cancel()">Cancel</button>
      <button class="save" (click)="save()" [disabled]="editForm.invalid">
        Save
      </button>
    </div>
  </div>
</div>
