<div class="table-container">
  <!-- Global Filter -->
  <div class="filter-container">
    <input
      type="text"
      placeholder="Search All Columns..."
      (input)="applyGlobalFilter($any($event.target).value)"
      class="filter-input"
    />
  </div>

  <div class="responsive-table">
    <table class="custom-table">
      <thead>
        <tr>
          <th style="padding-bottom: 93px">ID</th>
          <th>
            First Name
            <input
              type="text"
              placeholder="Filter First Name"
              (input)="
                applyColumnFilter('first_name', $any($event.target).value)
              "
              class="column-filter-input"
            />
            <button (click)="sortData('first_name')" class="sort-button">
              ⇅
            </button>
          </th>
          <th>
            Last Name
            <input
              type="text"
              placeholder="Filter Last Name"
              (input)="
                applyColumnFilter('last_name', $any($event.target).value)
              "
              class="column-filter-input"
            />
            <button (click)="sortData('last_name')" class="sort-button">
              ⇅
            </button>
          </th>
          <th>
            Email
            <input
              type="text"
              placeholder="Filter Email"
              (input)="applyColumnFilter('email', $any($event.target).value)"
              class="column-filter-input"
            />
            <button (click)="sortData('email')" class="sort-button">⇅</button>
          </th>
          <th style="padding-bottom: 90px">Avatar</th>
          <th style="padding-bottom: 90px">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (user of filteredUsers; track $index) {
        <tr>
          <td data-label="ID">{{ $index + 1 }}</td>
          <td data-label="First Name">{{ user.first_name }}</td>
          <td data-label="Last Name">{{ user.last_name }}</td>
          <td data-label="Email">{{ user.email }}</td>
          <td data-label="Avatar">
            <img [src]="user.avatar" alt="Avatar" class="avatar" />
          </td>
          <td data-label="Actions" class="actions">
            <button (click)="editUser(user)" class="action-button edit-button">
              Edit
            </button>
            <button
              (click)="openConfirmationDialog(user)"
              class="action-button delete-button"
            >
              Delete
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">
      Previous
    </button>
    <p class="page-count">{{ currentPage }}</p>
    <button (click)="nextPage()">Next</button>
    <button style="background-color: blueviolet" (click)="toCard()">
      Card
    </button>
    <button (click)="addUserToTable(users)">Add User</button>
  </div>
</div>
